*{
    margin: 0%;
    padding: 0%;
    background-color: black;

}
h1{

    text-align: center;
    background-color: aqua;
    padding: 20px;
    color: white;
}
#guessnumber,button
{
   color: white;
   border-width: 2%;
   border-color: white;
   border-style: solid;
   margin: 30px;
   display: inline-flex;
   flex-wrap: wrap;
   text-align: center;
   padding: 10px;
   justify-content:;
}
#result
{
    color: white;
    text-align: center;
    margin: 20px;
}


